
.cards {
    padding-top: 0;
    display: flex;
    overflow: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    width:11rem;
    margin-right: 1rem;
    position: relative;
}

.badge {
    background-color: rgb(255,255,255);
    border-radius: 5px ;
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 2px 5px;
}

.star {
    width: 14px;
    margin-right: 2px;
}

.card p {
    margin-block: 0.5rem 0;
}

.card-img {
    width: 176px;
    height: 235px;
    border-radius: 9px;
}